<div class="section-copy">
	<div class="container">
    <p>Founders & Coders C.I.C. is a not-for-profit social enterprise and co-operative of freelancers that is owned and managed by graduates of its programme. Our aim is to provide the best possible education in web-development - for free.

We have trained more than 100 novices in full-stack JavaScript. In addition to the intensive programme, we also run the Meetup group Coding for Everyone, aimed at supporting anyone with an interest in coding. Coding for Everyone has reached well over a thousand members. On our full-time courses, typically 40% of our students are female and many are from backgrounds underrepresented in the tech industry. 100% of the graduates of our most recent programme are working as web-developers.

By partnering with us we can transform the lives of many individuals. Get in touch</p>
  <h1>Testimonials
</h1>
	</div>
</div>
